fastapi
uvicorn[standard]
pymongo
passlib[bcrypt]
bcrypt==4.0.1
numpy
scikit-learn
python-multipart
requests
python-dotenv
# mailersend SDK removed to avoid versioning issues (using requests instead)
python-jose[cryptography]
gunicorn